html {
  font-size: 62.5%;
}

body {
  font-family: 'Young Serif', serif;
  background-color: hsl(30, 54%, 90%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 75rem;
  border-radius: 10px;
  padding: 3rem 4rem;
  margin: 10rem auto;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0 auto;
  }

  .container > *:not(:first-child) {
    margin-left: 2.2rem;
    margin-right: 2.2rem;
  }
}

.img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 375px) {
  .img {
    border-radius: 0;
  }
}

/* Header */
.header {
  margin-top: 2.4rem;
}

.header__text {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
}

/* Callout */
.callout {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2.4rem;
}

.callout__heading {
  color: hsl(332, 51%, 32%);
  margin-bottom: 1.6rem;
}

.callout__list {
  font-family: 'Outfit', sans-serif;
  list-style-position: inside;
  color: hsl(30, 10%, 34%);
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.callout__item::marker {
  color: hsl(332, 51%, 32%);
}

.callout__title {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.callout__detail {
  font-size: 1.6rem;
}

/* Ingredient */
.ingredient {
  padding-bottom: 2.4rem;
  margin-top: 2.4rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.ingredient__heading {
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.6rem;
}

.ingredient__list {
  font-family: 'Outfit', sans-serif;
  list-style-position: inside;
  color: hsl(30, 10%, 34%);
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.ingredient__item::marker {
  color: hsl(14, 45%, 36%);
}

.ingredient__detail {
  margin-left: 1.5rem;
  font-size: 1.6rem;
}

/* Instruction */
.instruction {
  padding-bottom: 2.4rem;
  margin-top: 2.4rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.instruction__heading {
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.6rem;
}

.instruction__list {
  font-family: 'Outfit', sans-serif;
  list-style-position: inside;
  font-size: 1.6rem;
  color: hsl(30, 10%, 34%);
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.instruction__item::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.instruction__title {
  font-weight: 700;
  margin-left: 1.5rem;
}

/* Nutrition */
.nutrition {
  padding-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.nutrition__heading {
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.6rem;
}

.nutrtition__text {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

table {
  font-family: 'Outfit', sans-serif;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

th,
td {
  font-size: 1.6rem;
  width: 50%;
  text-align: start;
}

th {
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  padding: 1.4rem 0 1.4rem 2.8rem;
}

td {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}

/* Heading */
.heading-primary {
  font-size: 3.2rem;
  font-weight: 400;
  color: hsl(24, 5%, 18%);
  margin-bottom: 1rem;
}

@media screen and (max-width: 375px) {
  .heading-primary {
    line-height: 1;
  }
}

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 400;
}

.heading-tertiary {
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
